<!DOCTYPE html>
<html>
<head>
    <title>Juego de pelea</title>
</head>
<body>
    <h1>Juego de pelea</h1>
    <p>{{ player1_name }} - Energía: {{ player1_energy }}</p>
    <p>{{ player2_name }} - Energía: {{ player2_energy }}</p>

    <h2>Detalles de la pelea:</h2>
    <ul>
        {% for fight_detail in fight_details_list %}
            <li>{{ fight_detail }}</li>
        {% endfor %}
    </ul>
</body>
</html>